p {
  color: black;
  text-align: center;
}

.grid {
  background color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
  font-style: papyrus;
  font-size: 50px;
  color: #005A31;
  background-color: #F3FAB6;
  text-align: left;
  margin-top: 0px;
  padding: 0px;
}
