p {
  color: black;
  text-align: left;
  font-size: 20px;
  text-algn: left;
  font-family: "Trebuchet MS";
}

.grid {
  background-color: #F3FAB6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-size: 20px;
  font-family: "Raleway";
}

.grid2 {
  display: grid;
  grid-template-rows: repeat(4,200px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
}

.a {
  grid-column: 1;
}

.b {
  grid-column: 2;
}

.c {
  grid-column: 3;
}

.d {
  grid-column: 4;
}

.e {
  grid-column: 5;
}

h1 {
  font-style: papyrus;
  font-size: 50px;
  color: #005A31;
  background-color: #F3FAB6;
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  border: 0px;
}

h3 {
  font-size: 30px;
}

.f {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.g{
  grid-row: 2;
  grid-column: 2 / span 3;
}

.h{
  grid-row: 3;
  grid-column: 1 / span 3;
}

.i{
  grid-row: 4;
  grid-column: 2 / span 3;
}

.myimages {
  height: 400px;
  width: 400px;
}

.j {
  grid-row: 2;
  grid-column: 1;
}
