p {
  color: black;
  text-align: left;
  font-size: 20px;
  text-algn: left;
  font-family: "Trebuchet MS";
}

.grid {
  background-color: #F3FAB6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 60px;
  text-align: center;
  font-size: 30px;
  font-family: "Raleway";
}

.a {
  grid-column: 3 / span 2;
}

.b {
  grid-column: 5 / span 2;
}

.c {
  grid-column: 2 / span 2;
}

.d {
  grid-column: 4 / span 2;
}

.e {
  grid-column: 1 / span 2;
}

h1 {
  font-style: papyrus;
  font-size: 50px;
  color: #005A31;
  background-color: #F3FAB6;
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  border: 0px;
}

prezi {
display: block;
align: center;
}

h3 {
  font-size: 30px;
}
