
body {
    background-image: url("../../images/questionMark.jpg");
    background-size: stretch;
}

output{
    color: white;
    font-size: 30px;
}

button {
    font-size: 30px;
    border-radius: 10%;
    display: flex;
    grid-row: 3;
    color: green;
    margin: auto;
    border: single;
}

#a {
grid-column: 1;
}

#b {
grid-column: 2;
}

#c {
grid-column: 3;
}

#d {
grid-column: 4;
}

.guessGrid{
    margin-top: 80px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
    grid-template-rows: 50px 280px 40px;
}

h1 {
    grid-column: 1 / span 4;
    grid-row: 1;
    color: white;
    margin: auto;
    font-size: 60px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

pre {
    grid-row: 2;
    grid-column: 1 / span 4;
    display: flex;
    color: white;
    font-size: 40px;
}



